/* Extra Small Device */
@media  (max-width:575.99px) {
    header .mainBtn{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    header .nav-link{
        margin-top: 5px;
    }


}


/* Small Device */
@media (min-width:576px) and (max-width:767.99px) {
     header .nav-link{
        margin-top: 5px;
    }
    header .mainBtn{
        margin-top: 10px;
    }



}


/* Medium Device */
@media (min-width:768px) and (max-width:991.99px) {

    header .navbar-expand-md .navbar-nav {
        column-gap: 10px;
    }
    .navbar-expand-md .navbar-collapse {
        flex-basis: 100%;
    } 
.navbar-brand img{
    width: 100%;
}

}


/* Large Device */
@media (min-width:992px) and (max-width:1199.99px) {
    
}


/* Extra Large Device */
@media (min-width:1200px) and (max-width:1399.99px) {
    
}


/* Extra Extra  Large Device */
@media (min-width:1400px) {
    
}