/* Extra Small Device */
@media  (max-width:575.99px) {
    header .mainBtn{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    header .nav-link{
        margin-top: 5px;
    }

#banner .row{
    flex-direction: column-reverse;
}

#banner{
    padding-top: 0px;
}

.banner-right {
    text-align: end;
}

.banner-right img:first-child {
width: 85%;
}

.banner-right img:last-child {
 left: -19px;
}
.banner-left{
    text-align: center;
}
.banner-left h2{
padding-top: 24px;
    font-size: 24px;
    line-height: 36px;
    max-width: 297px;
    margin: 0 auto;
}

.banner-left p {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 24px;
    max-width: 363px;
    font-size: 14px;
    line-height: 24px;
}
.btn-group{
    justify-content: center;
    margin-bottom: 32px;
}
.counter{
    justify-content: center;
}


#record {
    padding: 20px 0px;
}

.section-top h2 {
    font-size: 24px;
    line-height: 36px;
}

#diffrent .row{
    flex-direction: column-reverse;
}
#diffrent img{
    width: 100%;
    margin-bottom: 24px;
}
#diffrent .section-top{
    text-align: center;
}

#diffrent  .section-top h2 {
    font-size: 27px;
    text-align: center;
}

#diffrent .icon-box{
    display: flex;
    justify-content: center
}

#diffrent button{
    display: block;
    margin: 0 auto;
}

.pricing-item {
    margin-bottom: 10px;
}

#testimonial {
    padding-top: 20px;
}

.testimonal-top button{
    display: none;
}

.testimonal-top h2 {
    font-size: 36px;
    line-height: 45px;
    max-width: 403px;
    margin: 0 auto;
    text-align: center;
}

.testimonial-item {
    margin-bottom: 15px;
}

.footer-top h3 {
    margin-bottom: 25px;
    margin-top: 22px;
}
.footer-bottom p {
    font-size: 16px;}

}


/* Small Device */
@media (min-width:576px) and (max-width:767.99px) {
     header .nav-link{
        margin-top: 5px;
    }
    header .mainBtn{
        margin-top: 10px;
    }
    #banner{
        padding-top: 0px;
    }

    .banner-right img:first-child {
        width: 85%;
        }
        
        .banner-right img:last-child {
         left: -19px;
        }
        .banner-left{
            text-align: center;
        }
        .banner-left h2{
            padding-top: 0px;
            font-size: 24px;
            line-height: 36px;
            max-width: 354px;
            margin: 0 auto;
        }
        
        .banner-left p {
            margin: 0 auto;
            margin-top: 16px;
            margin-bottom: 24px;
            max-width: 496px;
            font-size: 14px;
            line-height: 24px;
        }
        .btn-group{
            justify-content: center;
            margin-bottom: 32px;
        }
        .counter{
            justify-content: center;
            margin-bottom: 16px;
        }

        .banner-right img:first-child {
            width: 90%;
            }
            
            .banner-right img:last-child {
             left: -24px;
            }
            .banner-right{
                text-align:right;
            }

            #record {
                padding: 20px 0px;
            }
            
            .section-top h2 {
                font-size: 24px;
                line-height: 36px;
            }
            .record-item h4 {
                font-size: 18px;
            }
            .record-item p {
                font-size: 11px;
            }

            #diffrent img{
                width: 100%;
            }

}


/* Medium Device */
@media (min-width:768px) and (max-width:991.99px) {

    header .navbar-expand-md .navbar-nav {
        column-gap: 10px;
    }
    .navbar-expand-md .navbar-collapse {
        flex-basis: 100%;
    } 
.navbar-brand img{
    width: 100%;
}
#banner {
    padding-top: 15px;
}

.banner-left h2 {
    font-size: 39px;
    line-height: 50px;
}
.banner-left p {
    max-width: 601px;
}
.btn-group {
    margin-bottom: 22px;
}

.counter {
    margin-bottom: 15px;
}

.banner-right {
    text-align: right;
}

.banner-right img:first-child {
    width: 605px;
}
.banner-right img:last-child {
    left: -12px;
}

#diffrent img{
    display: none;
}

.testimonial-item {
    margin-bottom: 15px;
}

}


/* Large Device */
@media (min-width:992px) and (max-width:1199.99px) {
    .banner-left h2 {
        font-size: 33px;
        line-height: 51px;
    }

    #diffrent .section-top h2 {
        font-size: 42px;
    }
#diffrent img{
    width: 100%;
}
.testimonial-item p {
    font-size: 14px;

}
.testimonial-item .user-info h4 {
    font-size: 14px;
}
.footer-top ul li a {
    font-size: 12px;
}
}


/* Extra Large Device */
@media (min-width:1200px) and (max-width:1399.99px) {
    
}


/* Extra Extra  Large Device */
@media (min-width:1400px) {
    
}