*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner", serif;
}
:root{
--orage-color:#F18701;
--blue-color:#7678ED;
--gray-bg:#FAFAFA;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* Header CSS */

header{
    padding: 20px 0px;
}

header .nav-link{
    font-weight: 400;
    font-size: 16px;
    color: #62636C;
}

header .navbar-expand-md .navbar-nav {
    column-gap: 40px;
}

.mainBtn{
    background-color: var(--blue-color);
    padding: 13px 32px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.navbar-toggler {
    border: none;
}

/* Banner CSS */

#banner{
    padding-top: 45px;
    padding-bottom: 90px;
}
.banner-left h2{
    font-weight: 600;
    font-size: 56px;
    line-height: 70px;
    color: #13132C;
    max-width: 576px;
}
.banner-left p{
    color: #898998;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 30px;
    max-width: 416px;
}
.btn-group{
    display: flex;
    column-gap: 16px;
margin-bottom: 55px;
}
.btn-group button:first-child{
    background-color: var(--blue-color);
    padding: 14px 40px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.btn-group button:last-child{
    border:1px solid var(--blue-color);
    padding: 14px 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--blue-color);
    background-color: transparent;
}
.counter{
    display: flex;
    column-gap: 24px;
}
.counter h4{
    font-size: 40px;
    font-weight: 500;
    color: var(--orage-color);
}
.counter h4 span{
color: #13132C;
font-size: 16px;
font-weight: 400;
}

.banner-right{
    position: relative;
}
.banner-right img:first-child {
    height: 520px;
    width: 560px;
    object-fit: cover;

}
.banner-right img:last-child {
    position: absolute;
    left: -101px;
    bottom: 48px;
}

/*  Record CSS */

#record{
    padding: 64px 0px;
    background-color: var(--gray-bg);
}

.section-top{
    text-align: center;
}

.section-top h2{
    color: #13132C;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    max-width: 643px;
    margin: 0 auto;
    text-transform: capitalize;
}
.section-top p{
    margin-top: 24px !important;
    margin-bottom: 47px !important;
    color: #898998;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 620px;
    margin: 0 auto;
}

.record-item{
    background-color: #fff;
    text-align: center;
    box-shadow: 10px 32px 72px #0f0d2305;
padding: 24px 35px;
}
.record-item h4{
    color: #13132C;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 16px;
}
.record-item p{
    color: #898998;
    font-size: 14px;
    line-height: 24px;
    max-width: 212px;
    margin: 0 auto;
}
